section {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid gainsboro;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

.intro {
  width: 40%;
  margin: auto;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.description {
  width: 70%;
  margin: auto;
  margin-top: 24px;
}

.code {
  color: #2bf707;
}

pre {
  overflow-x: auto;
}

.example {
  width: fit-content;
  margin: auto;
  margin-top: 24px;
}

.greyBackground {
  background-color: rgb(29, 29, 29);
  padding: 8px;
  border-radius: 6px;
}

@media (max-width: 1280px) {
  .intro {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .intro {
    width: 70%;
  }
}

@media (max-width: 768px) {
  section {
    width: 90%;
  }

  .intro {
    width: 80%;
  }

  .example {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .intro {
    width: 100%;
  }
}
